html{
    height:100%;
    
}

body{
    height:100%;
    overflow: hidden;
}

#root{
    height:100%;
}

.css-test{
    
    display: flex;
    direction: row;
    justify-content: space-between;
    
}
.metronome{
    border-radius: 6px;

}